<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1076882117626-ig1qv9ji58q15d79vkjl29vorb1b2p06.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1076882117626-ig1qv9ji58q15d79vkjl29vorb1b2p06</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1076882117626-6cf43sn3moibnmlr9hrabusd9r79e8sp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCQemX1dAghH1mCaH1HdUP2H5WNNPB1hhQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1076882117626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tamadun</string>
	<key>PROJECT_ID</key>
	<string>tamadun-app-8a823</string>
	<key>STORAGE_BUCKET</key>
	<string>tamadun-app-8a823.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076882117626:ios:97ec4a9825d936c6448a43</string>
</dict>
</plist>